 .btn-3{
   border: none;
   background-color: $ball-blue;
   color: $white;
   padding: 0.5rem 6rem;
   font-family: $raleway;
   font-weight: $bold;
 }

 .btn-1{
   border: none;
   background-color: $white;
   font-family: $raleway;
   font-weight: $regular;
 }

 .btn-2{
   border: none;
   background-color: $ball-blue;
   font-family: $raleway;
   font-weight: $regular;
   color: $white;
 }
